@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&family=Roboto+Slab:wght@300;500&display=swap');

/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//importamos los archivos secundarios

@import "utilidades/variables";
@import "utilidades/mixin";
@import "html/index";
@import "utilidades/condicionales";
@import "utilidades/extend";

footer{
    @include condicion (gray);
    width: $medida-principal;
    h3{
        @include estilo
    }
}