$color-fondo: #fbfbcb;
$color-texto:  black;
$color-botones: rgb(218, 161, 55);
$color-titulos: #552525;
$color-formulario: whitesmoke;
$color-delborde: orange;

//medidas
$medida-principal: 100%;

//Listas

$colores: 
white, 
black, 
gray, 
#552525,
whitesmoke

